:root {
  --clr-white: #151515;
  --clr-black: #fff;
  --clr-accent: rgb(0, 122, 255);
  --clr-darkModeSwitchBg: #fff;
  --clr-darkModeSwitchI: #000;
  --shadow: 0 0 8px var(--shadow-color);
  --shadow-color: rgba(155, 155, 155, 0.1);
  --clr-item-border: #414040;
  --clr-item-background: #242424;
  --background: var(--clr-white);
  --foreground: var(--clr-black);
  transition: ease-out 0.2s;
}

.darkmode {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-accent: #007aff;
  --clr-darkModeSwitchBg: #000;
  --clr-darkModeSwitchI: #fff;
  --clr-darkModeSwitchSh: rgba(255, 255, 255, 0.2);
  --shadow: 0 0 6px var(--shadow-color);
  --shadow-color: rgba(0, 0, 0, 0.35);
  --clr-item-border: #fff;
  --clr-item-background: #fff;
  --background: var(--clr-white);
  --foreground: var(--clr-black);
}

html, body {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #007aff;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeIn;
  animation-duration: 1.5;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
#myDiv {
  display: none;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#darkModeSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: absolute;
  right: 0%;
  margin: 12px;
  padding: 0;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 7px var(--clr-darkModeSwitchSh);
  transition: ease-in 0.3s;
  background-color: var(--background);
}

#darkModeSwitch i {
  font-size: 24px;
  transition: ease-in 0.3s;
  color: var(--foreground);
}

#darkModeSwitch:hover {
  background-color: var(--clr-darkModeSwitchBg);
}

#darkModeSwitch:hover i {
  color: var(--clr-darkModeSwitchI);
  transition: ease-out 0.3s;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow: hidden;
  transition: all 0.2s ease-out;
}

main {
  display: flex;
  flex-direction: column;
  height: 100svh;
  justify-content: center;
  margin: 0 15% 0 15%;
}

h1 {
  margin: 0;
  font-size: 6.4rem;
}

#nickname {
  font-style: italic;
  background: -webkit-linear-gradient(90deg, rgb(0, 133, 255) 0%, rgb(0, 215, 255) 72%, rgb(0, 133, 255) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text {
  font-style: italic;
  font-size: 1.8rem;
  margin-top: 0.5rem;
}

@media only screen and (width < 950px) {
  .hero-text {
    margin-top: 2rem;
  }
}
.links {
  margin-top: 24px;
  display: flex;
  gap: 12px;
}

@media only screen and (width <= 500px) {
  .links {
    display: grid;
    grid-template-columns: 50px 50px 50px;
  }
}
.links-btn {
  color: #7a7a7a;
  background-color: var(--clr-item-background);
  box-shadow: var(--shadow);
  border: 1px solid var(--clr-item-border);
  border-radius: 12px;
  min-width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: ease-out 0.2s;
}

.links-btn i {
  transition: ease-out 0.2s;
  font-size: 24px;
}

.links-btn:hover {
  transition: ease-out 0.2s;
  box-shadow: 0 0 6px rgba(0, 133, 255, 0.75);
}

.links-btn:hover i {
  color: #007aff;
  transition: ease-out 0.2s;
}/*# sourceMappingURL=style.css.map */